<!doctype html>
<html>
<head>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <link rel="stylesheet" href="css/application.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
</head>
<body>
<body id="myPage" ng-app="myApp" ng-controller="customersCtrl">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#myPage">HOME</a></li>
                <li><a href="#band">COMPANIES</a></li>
                <li><a href="#tour">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="parallax">
    <div class="text-center logo">The best companies ever!</div>
</div>

<div class="spinner" ng-show="loading">
    <img src="img/ajax_loader_gray_64.gif" class="ajax-loader">
</div>

<div id="companies" class="container-fluid">
    <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filter by name</h3>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" name="nameFilter" placeholder="Name of company">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filter by products</h3>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" name="productsFilter" placeholder="Products of company">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Companies</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-default"  ng-repeat="company in myData">
                    <div class="panel-body">
                        {{ company.companyName}}
                        <ul>
                            <li ng-repeat="good in company.companyGoods">
                                {{good}}
                            </li>

                        </ul>
                        <button ng-click="delete(company, $index)" class="btn btn-danger btn-xs pull-right remove">x</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="text-center navbar-fixed-bottom">
    <p>Created by Lucy</p>
</footer>

<script src="js/myApp.js"></script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

</body>
</html>